.section-and-genre-wrapper {
  max-width: 1472px;
  width: 100%;
  padding: 0px 16px;
  display: flex;
}

.genre-wrapper {
  height: 100%;
  width: 320px;
}

@media screen and (max-width: 1200px) {
  .genre-wrapper {
    display: none;
  }
}